<IfModule mod_rewrite.c>
RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]

#反爬虫
#apache Rewrite 规则
RewriteRule !\.(ico|js|gif|jpeg|jpg|png|css|swf|flv)$ index.php

#iis 排除js,css等文件
#RewriteRule (.*\.(js|ico|gif|jpg|png|flv|swf|css))$ /$1 [L,U]
#arphp的全部请求转发到index.php
#RewriteRule (.*) /index.php [L,U]

#RewriteCond %{HTTP_HOST} ^www\.zhaoqianbei\.com [NC]
#RewriteCond %{HTTP_HOST} !^www\.zhaoqianbei\.com.\api(.*)$ [NC]
#RewriteCond %{HTTP_USER_AGENT} "(baidu.Transcoder|mini|android|blackberry|googlebot-mobile|iemobile|Mobile|ipad|iphone|ipod|opera mobile|palmos|webos|ucweb|Windows Phone|Symbian|hpwOS)" [NC]
#RewriteRule ^(.*)$ https://www.zhaoqianbei.com/m [L,R=302]

#ssl
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)?$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

#ssl
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [R,L]
</IfModule>
