.category:after{
    display: table;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 10pt;
    color: #fff;
}
span.c_movies:after{
    content: "电影";
    background-color: #459961 ;
}
span.c_anime:after
{
    content: "动漫";
    background-color: #459961;
}
span.c_tvseries:after
{
    content: "电视剧";
    background-color: #017A85  ;
}

span.c_tvshows:after
{
    content: "综艺";
    background-color: #39A8AE;
}

span.c_doc:after
{
    content: "纪录片";
    background-color: #155FAA;
}

span.c_mv:after
{
    content: "游戏";
    background-color: #694E79;
}
span.c_resource:after
{
    content: "资源";
    background-color: #DB9E36 ;
}
span.c_course:after
{
    content: "教程";
    background-color: #DB5140;
}

span.c_hqaudio:after
{
    content: "音乐";
    background-color: #533B77;
}

span.c_other:after
{
    content: "其他";
    background-color: #FF9302;
}

